html {
  overflow: hidden;
}

body {
  outline: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  -webkit-transition: .3s;
  transition: .3s;
  color: #ffff;
  border: 0;
  padding: 0;
}

*::before, *::after {
  border: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #d9d9d9;
}

a:hover {
  color: #d9d9d9;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

input:focus {
  outline: 0;
}

button {
  background: transparent;
  border: 0;
}

.disp-fl-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.disp-b-c {
  display: block;
  margin: 0px auto;
}

.disp-fl-c-d {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.disp-fl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}

.disp-fl-sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.disp-fl-sa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg-primary {
  background: radial-gradient(78.65% 78.65% at 47.91% 21.35%, #201F1F 0%, #201F1F 51.04%, rgba(32, 31, 31, 0.92) 100%) !important;
  width: 100%;
  height: 100vh;
}

.btn-hover {
  border: 1px solid #ffff !important;
  background-color: transparent !important;
}

.btn-primary {
  color: #ffff !important;
}

.glass-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(92.83deg, #ffffff64 41.66%, rgba(255, 255, 255, 0.281) 98.26%);
  width: 100%;
  height: 60px;
  border-radius: 16px;
  color: #ffff;
  border: 1px solid linear-gradient(92.83deg, #ffffff8b 41.66%, rgba(255, 255, 255, 0.01) 98.26%);
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
}

.custom-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px !important;
  padding: 20px 40px !important;
  background-color: #00676C;
  border: 1px solid #00676C;
  max-width: 228px !important;
  height: 64px !important;
  font-weight: 400;
  font-size: 20px;
  color: #ffff;
  cursor: pointer;
}

.pop-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 80vh;
  z-index: -1;
}

.pop-container .pop-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: -1;
  padding: 30px 25px;
}

.pop-container .pop-up .btn {
  width: 100%;
  background: #ff4133;
  color: #ffff;
}

.slider .animation {
  -webkit-animation: slider-animation linear 3s infinite;
          animation: slider-animation linear 3s infinite;
}

@-webkit-keyframes slider-animation {
  0% {
    width: auto;
  }
  100% {
    width: 0px;
  }
}

@keyframes slider-animation {
  0% {
    width: auto;
  }
  100% {
    width: 0px;
  }
}

.alert-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  position: absolute;
  top: 0;
  z-index: 99;
}

.alert-container .content {
  display: block;
  background: linear-gradient(92.83deg, #ffffff64 41.66%, rgba(255, 255, 255, 0.281) 98.26%);
  padding: 20px 25px;
  max-width: 500px;
}

.app-menu-component--page > .menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
  padding: .8rem;
  gap: 0rem;
  z-index: 99;
}

.app-menu-component--page > .menu__container > [class|=menu] {
  cursor: pointer;
  scale: .8;
}

.app-menu-component--page > .menu__container > .menu-option {
  width: 5rem;
  height: 5rem;
  background-color: #ffff;
  border-radius: 50%;
  -webkit-transition: top 550ms ease-out;
  transition: top 550ms ease-out;
  -webkit-box-shadow: 0 0 1rem #00000026;
          box-shadow: 0 0 1rem #00000026;
  position: absolute;
  top: .85rem;
  -webkit-transform: translateY(-0.7rem);
          transform: translateY(-0.7rem);
}

.app-menu-component--page > .menu__container > .menu-option i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: #201F1F;
  font-size: 2rem;
}

.app-menu-component--page > .menu__container > .menu-home {
  z-index: 3;
}

.app-menu-component--page > .menu__container > .menu-home .dot__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: .5rem;
  background-color: #00676C;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.app-menu-component--page > .menu__container > .menu-home .dot__container .dot {
  width: .5rem;
  height: .5rem;
  background-color: #d9d9d9;
  border-radius: 50%;
}

.Welcome_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Welcome_page .loading {
  height: 100vh;
  width: 0%;
  background-color: #201F1F;
  -webkit-transition: .4s;
  transition: .4s;
  position: absolute;
  left: 0%;
  z-index: -1;
  -webkit-animation: loadingAnime 8s alternate forwards;
          animation: loadingAnime 8s alternate forwards;
}

@-webkit-keyframes loadingAnime {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes loadingAnime {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.background-pattern {
  background: url(../../img/icons/icons8-anonymous-mask-150.png);
  position: absolute;
  top: 0;
  left: -10px;
  z-index: 1;
  width: 100%;
  height: 100vh;
}

.start-container {
  z-index: 2;
  width: auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.start-container .row-custom {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.start-container .row-custom .header {
  width: 60rem;
  height: 10rem;
}

.start-container .row-custom .header h3 {
  font-weight: 340;
  font-size: calc(28px + 3vw) !important;
  color: #ffff;
  text-align: center;
}

.create-link-page, .join-link-page {
  -webkit-transition: 1.4s;
  transition: 1.4s;
}

.create-link-page nav, .join-link-page nav {
  padding: 20px 0px 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.create-link-page nav .back, .join-link-page nav .back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
  color: #ffff;
}

.create-link-page nav .back i, .join-link-page nav .back i {
  color: #ffff;
}

.create-link-page main, .join-link-page main {
  width: 100%;
  display: -ms-grid;
  display: grid;
  margin-top: 100px;
  margin-left: 150px;
}

.create-link-page main section, .join-link-page main section {
  display: -ms-grid;
  display: grid;
  row-gap: 50px;
  width: 400px;
}

.create-link-page main section header, .join-link-page main section header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.create-link-page main section header h3, .join-link-page main section header h3 {
  color: #ffff;
  font-weight: 400;
  font-size: 26px;
}

.create-link-page main section header h3::before, .join-link-page main section header h3::before {
  content: '';
  position: absolute;
  background: #ff4133;
  width: 80px;
  height: 5px;
  -webkit-transform: translateY(38px);
          transform: translateY(38px);
}

.create-link-page main section header span, .join-link-page main section header span {
  opacity: .4;
  cursor: pointer;
}

.create-link-page main section header span:hover, .join-link-page main section header span:hover {
  opacity: .8;
}

.create-link-page main section form, .join-link-page main section form {
  display: -ms-grid;
  display: grid;
  row-gap: 50px;
}

.create-link-page main section form :is([type="text"], [type="time"]), .join-link-page main section form :is([type="text"], [type="time"]) {
  outline: 0px;
  border: 10px solid linear-gradient(92.29deg, #F6E9E8 99.21%, rgba(240, 240, 240, 0.263468) 30.3%, rgba(255, 123, 114, 0.654466) 61.86%, rgba(255, 179, 173, 0.76) 75.08%, #FF5548 89.16%);
  border-radius: 44px;
  outline: .1rem solid #FFFFFF42;
  width: 100%;
  height: 70px;
  background: transparent;
  color: #FFFFFF42;
  font-weight: 400;
  font-size: 18px;
  padding-left: 2rem;
  color: #fff;
}

.create-link-page main section form input[type=time], .join-link-page main section form input[type=time] {
  width: 45%;
}

.create-link-page main section form input[type=submit], .join-link-page main section form input[type=submit] {
  border: none;
}

.create-link-page main .img img, .join-link-page main .img img {
  position: absolute;
  top: 0;
  right: 0;
  opacity: .9;
  z-index: 1;
  scale: .8;
}

@media screen and (max-width: 1200px) {
  .create-link-page main .img img, .join-link-page main .img img {
    width: 600px;
  }
}

@media screen and (max-width: 1068px) {
  .create-link-page main .img img, .join-link-page main .img img {
    display: none;
  }
}

.join-link-page main section {
  display: -ms-grid;
  display: grid;
  margin-left: 150px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.join-link-page main .img img {
  left: 0;
  width: 700px;
}

/*  ===============
    Page Component
    ===============*/
.clipboard--container {
  margin-block: 2rem;
}

.clipboard--container > .clipboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5rem;
          column-gap: 5rem;
  background-color: #d9d9d9;
  padding-right: 1em;
  border-radius: 1rem;
  position: relative;
}

.clipboard--container > .clipboard > * {
  color: #00676C;
}

.clipboard--container > .clipboard i {
  font-size: 2rem;
  cursor: pointer;
}

.clipboard--container > .clipboard i:first-child {
  height: 100%;
  background: #ffff;
  padding-inline: 3rem;
  font-weight: 600;
}

/* ===== Table of Content =====
1. Setting up variables
    1.1 Background and colors
    1.2 Font sizes and weights
2. Default styling to the page
3. Setting up grid layout in the page
4. Layout styling
    4.1 Utility classes
/* ============================== */
/* 1. ====================
    Setting up variables
    =================== */
/* 2. ============================
    Default styling to the page
    ============================*/
.chat__page__container > :where(*) {
  border: 0;
  padding: 0;
  border: none;
}

/* 3. ==================================
    Setting up grid layout in the page
    ==================================*/
.chat__page__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 22rem (1fr)[2];
      grid-template-columns: 22rem repeat(2, 1fr);
  -ms-grid-rows: 5rem 5rem 1fr 7rem;
      grid-template-rows: 5rem 5rem 1fr 7rem;
      grid-template-areas: 'header header header' 'groups groups groups' 'chat__area chat__area chat__area' 'chat__input chat__input chat__input';
}

.chat__page__container > .chat__header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
}

.chat__page__container > .chat__groups {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: groups;
}

.chat__page__container > .chat__area {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: chat__area;
}

.chat__page__container > .chat__input {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: chat__input;
}

/* 4. ================
    Layout Styling
    ================*/
.chat__page__container {
  /* 4.1 ===============
        utility classes
        ===============*/
}

.chat__page__container > .chat__header {
  background-color: #2e2e2e;
}

.chat__page__container > .chat__header > .parent--container {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-inline: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat__page__container > .chat__header > .parent--container > .header--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.chat__page__container > .chat__header > .parent--container > .header--container > button {
  font-size: 1.04375rem;
  background-color: #FF4133;
  padding: .4em 1.8em;
  border-radius: .5em;
}

.chat__page__container > .chat__header > .parent--container > .header--container > .time span {
  font-size: 0.99375rem;
  color: #ffffffa0;
}

.chat__page__container > .chat__groups {
  background-color: #2e2e2e;
}

.chat__page__container > .chat__groups > .parent--container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem 2rem;
  padding-left: 2rem;
}

.chat__page__container > .chat__groups > .parent--container > .header--container {
  height: 5.5rem;
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat__page__container > .chat__groups > .parent--container > .header--container > p {
  font-size: clamp(1rem, 0.1vw, 5rem);
}

.chat__page__container > .chat__groups > .parent--container > .main--container {
  width: auto;
  overflow-x: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem 3rem;
  padding-block: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat__page__container > .chat__groups > .parent--container > .main--container > .group--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem 2rem;
}

.chat__page__container > .chat__groups > .parent--container > .main--container > .group--container > .chat-group {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  grid-auto-flow: column;
  cursor: pointer;
  width: clamp(12rem, 14.5vw, 25rem);
}

.chat__page__container > .chat__groups > .parent--container > .main--container > .group--container > .chat-group img {
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / span 3;
}

.chat__page__container > .chat__groups > .parent--container > .main--container > .group--container > .chat-group > .content--container h3 {
  line-height: 1;
  font-size: clamp(0.26727rem, 2rem, 1rem);
  font-size: clamp(1.2rem, 1.5vw, 3rem);
  font-weight: light;
}

.chat__page__container > .chat__groups > .parent--container > .main--container > .group--container > .chat-group > .content--container span {
  line-height: .1;
  font-size: .8rem;
  position: relative;
  right: 0;
  color: #ffffffa0;
}

.chat__page__container > .chat__groups > .parent--container > .main--container > .footer--container .exit {
  font-size: 1.8ch;
  color: #ffffffa0;
  width: 8ch;
}

.chat__page__container > .chat__groups > .parent--container > .main--container > .footer--container .exit i {
  color: #ffffffa0;
}

.chat__page__container > .chat__area {
  background: url("../../img/Taieri 1.png") no-repeat;
  background-color: #444343;
  background-size: cover;
  background-position: center;
}

.chat__page__container > .chat__area > .area--container {
  padding-block: 2rem;
  padding-inline: clamp(20px, 7%, 90px);
  height: 100%;
  max-height: 66vh;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.chat__page__container > .chat__area > .area--container::-webkit-scrollbar {
  width: 0.4rem;
  height: 0rem;
}

.chat__page__container > .chat__area > .area--container::-webkit-scrollbar-track {
  width: 0rem;
  height: 0rem;
  background: transparent;
}

.chat__page__container > .chat__area > .area--container::-webkit-scrollbar-thumb {
  background-color: red;
}

.chat__page__container > .chat__area > .area--container > ul {
  display: -ms-grid;
  display: grid;
  row-gap: 2rem;
  overflow-y: auto;
}

.chat__page__container > .chat__area > .area--container > ul .general--chat-box--style, .chat__page__container > .chat__area > .area--container > ul > .person-1, .chat__page__container > .chat__area > .area--container > ul > .person-2 {
  width: 90%;
  max-width: 500px;
  padding-inline: 1rem;
  padding-block: 1rem;
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  font-size: 1.04375rem;
  display: -ms-grid;
  display: grid;
}

.chat__page__container > .chat__area > .area--container > ul .general--chat-box--style p, .chat__page__container > .chat__area > .area--container > ul > .person-1 p, .chat__page__container > .chat__area > .area--container > ul > .person-2 p {
  padding: 0;
  margin: 0;
}

.chat__page__container > .chat__area > .area--container > ul .general--chat-box--style p:first-child, .chat__page__container > .chat__area > .area--container > ul > .person-1 p:first-child, .chat__page__container > .chat__area > .area--container > ul > .person-2 p:first-child {
  color: #00000080;
}

.chat__page__container > .chat__area > .area--container > ul .general--chat-box--style p:last-child, .chat__page__container > .chat__area > .area--container > ul > .person-1 p:last-child, .chat__page__container > .chat__area > .area--container > ul > .person-2 p:last-child {
  -ms-grid-column-align: end;
      justify-self: end;
  color: #ffffffa0;
  font-size: 0.99375rem;
}

.chat__page__container > .chat__area > .area--container > ul > .person-1 {
  background: linear-gradient(161.22deg, #D9D9D9 6.84%, rgba(198, 245, 161, 0.39) 94.47%);
  border-radius: 2rem 0px 2rem 2rem;
  -ms-grid-column-align: end;
      justify-self: end;
}

.chat__page__container > .chat__area > .area--container > ul > .person-2 {
  background: linear-gradient(161.22deg, #D9D9D9 6.84%, rgba(250, 224, 158, 0.39) 94.47%);
  border-radius: 0rem 2rem 2rem 2rem;
  -ms-grid-column-align: start;
      justify-self: start;
}

.chat__page__container > .chat__area > .area--container > ul .content--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chat__page__container > .chat__area > .area--container > ul .content--container i {
  cursor: pointer;
}

.chat__page__container > .chat__area > .to-bottom--container {
  position: fixed;
  right: 0;
  -webkit-transform: translate(0rem, -8rem);
          transform: translate(0rem, -8rem);
  scale: .7;
}

.chat__page__container > .chat__area > .to-bottom--container .to-bottom {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0 1rem black;
          box-shadow: 0 0 1rem black;
}

.chat__page__container > .chat__area > .to-bottom--container .to-bottom i {
  color: #201F1F;
  font-size: 2rem;
}

.chat__page__container > .chat__input {
  background-color: #00676C;
}

.chat__page__container > .chat__input > .parent--container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chat__page__container > .chat__input > .parent--container > .input--container {
  width: 100%;
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-column-gap: .5rem;
          column-gap: .5rem;
  padding-inline: 1rem;
  padding-block: .5rem;
}

.chat__page__container > .chat__input > .parent--container > .input--container > .input--field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.chat__page__container > .chat__input > .parent--container > .input--container > .input--field [type=text] {
  border: 0;
  background: transparent;
  border-bottom: .2rem solid limegreen;
  width: 100%;
  padding: 1em;
  padding-right: 3rem;
}

.chat__page__container > .chat__input > .parent--container > .input--container > .input--field i {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  font-size: 1.5rem;
  color: #ffffffa0;
  cursor: pointer;
}

.chat__page__container > .chat__input > .parent--container > .input--container > .send i {
  font-size: 2.3rem;
}

.chat__page__container *.parent--container {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 70rem) {
  .chat__page__container {
    -ms-grid-rows: 5rem 1fr 7rem;
        grid-template-rows: 5rem 1fr 7rem;
        grid-template-areas: 'groups header header' 'groups chat__area chat__area' 'groups chat__input chat__input';
  }
  .chat__page__container > .chat__header {
    background-color: #2e2e2e;
  }
  .chat__page__container > .chat__groups > .parent--container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .chat__page__container > .chat__groups > .parent--container > .main--container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-x: hidden;
  }
  .chat__page__container > .chat__groups > .parent--container > .main--container > .group--container {
    max-height: 70vh;
    overflow-y: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 4rem;
  }
  .chat__page__container > .chat__groups > .parent--container > .main--container > .group--container::-webkit-scrollbar {
    width: 0.2rem;
    height: 0rem;
  }
  .chat__page__container > .chat__groups > .parent--container > .main--container > .group--container::-webkit-scrollbar-track {
    width: 0rem;
    height: 0rem;
    background: transparent;
  }
  .chat__page__container > .chat__groups > .parent--container > .main--container > .group--container::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
  }
  .chat__page__container > .chat__groups > .parent--container > .main--container > .footer--container {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    -ms-grid-column-align: start;
        justify-self: start;
  }
  .chat__page__container > .chat__area > .area--container {
    max-height: 76vh;
  }
}

.pos-abs {
  position: absolute;
}

.pos-fixed {
  position: fixed;
}
/*# sourceMappingURL=index.css.map */