@import "../css-utlis/index";
@import "../css-components/index";

.create-link-page, .join-link-page{
    transition: 1.4s;
    nav{
        padding: 20px 0px 0px 20px;
        @include fl-sb;
        width: 100%;
        .back{
            display: flex;
            column-gap: 15px;
            font-weight: 400;
            font-size: 18px;
            cursor: pointer;
            color: $secondary-color-2;
            i{
                color: $secondary-color-2;
            }
        }
    }

    main{
        width: 100%;
        display: grid;
        margin-top: 100px;
        margin-left: 150px;
        section{
            display: grid;
            row-gap: 50px;
            width: 400px;
            header{
                @include fl-sb;
                h3{
                    color: $secondary-color-2;
                    @include underlineText($extra-color);
                    font-weight: 400;
                    font-size: 26px;
                }
                span{
                    opacity: .4;
                    cursor: pointer;
                    &:hover{
                        opacity: .8;
                    }
                }
            }
            form{
                display: grid;
                row-gap: 50px;
                :is([type="text"], [type="time"]){
                    @include inputFieldStyle;
                    padding-left: 2rem;
                    color: #fff;
                }
                input[type=time]{
                    width: 45%;
                }
                input[type=submit]{
                    border: none;
                }
            }
        }
        .img{
            img{
                position: absolute;
                top: 0;
                right: 0;
                opacity: .9;
                z-index: 1;
                scale: .8;
            }
        }
    }
    @media screen and (max-width: 1200px) {
        main{
            .img{
                img{
                    width: 600px;
                }
            }
        }
    }
    @media screen and (max-width: 1068px){
        main{
            .img{
                img{
                    display: none;
                }
            }
        }
    }
}

.join-link-page{
    main{
        section{
            display: grid;
            margin-left: 150px;
            justify-self: center;
            align-content: center;
        }
        .img{
            img{
                left: 0;
                width: 700px;
            }
        }
    }
}

/*  ===============
    Page Component
    ===============*/
.clipboard--container{
    margin-block: 2rem;
    > .clipboard{
        display: flex;
        align-items: center;
        column-gap: 5rem;
        background-color: $secondary-color;
        //padding-block: .5em;
        padding-right: 1em;
        border-radius: 1rem;
        position: relative;
        & > * {
            color: $primary-color-2;
        }
        i{
            font-size: 2rem;
            cursor: pointer
        }
        i:first-child{
            height: 100%;
            background: $secondary-color-2;
            padding-inline: 3rem;
            font-weight: 600;
           // position: absolute;
        }
    }
}