.start-container{
    // img{
    //     position: absolute;
    //     top: 20vh;
    //     width: calc(514.11px + 12%);
    //     height: 495.57px;
    //     opacity: .06;
    // }
    .row{
        .header{
            h3{
                font-weight: 340;
                font-size: calc(28px + 3vw) !important;
                color: $secondary-color-2;
            }
        }
    }
}