@mixin underlineText($color){
    &::before{
        content: '';
        position: absolute;
        background: $color;
        width: 80px;
        height: 5px;
        transform: translateY(38px);
    }
}
@mixin customizedScrollBar($color, $width){
    &::-webkit-scrollbar {
        width: $width;
        height: 0rem;
    }
    &::-webkit-scrollbar-track {
        width: 0rem;
        height: 0rem;
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $color;
    }
}